@charset "UTF-8";

@font-face {
    font-family: aquire;
    src: url('../fontes/aquire-light.otf') format('opentype');
    font-weight: lighter;
    font-style: normal;
}

* {
    padding: 0px;
    margin: 0px;
}

:root {
    --fonte0: aquire;
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --cor0: #606B73;
    --cor1: #F2EFDF;
    --cor2: #D7D9D7;    
}


body {
    background-color: var(--cor2);
}

header {
    background-color: var(--cor0);
    padding: 10px;
    min-width: 400px;
}

header > h1 {
    font-family: var(--fonte0);
    font-size: 4vw;
    text-align: left;
    color: var(--cor1);
}

header > p {
    font-family: var(--fonte1);
    font-size: 2vw;
    padding: 3px;
    text-align: left;
    color: black;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.404);
}

nav {
    font-family: var(--fonte1);
    text-align: end;
 
}

nav > a {
    margin-left: 50px;
}
a {
    text-decoration: none;
    font-size: normal;
    font-weight: bold;
}

main {
    background-color: var(--cor1);
    padding: 50px 50px;
    max-width: 800px;
    margin: 0px 70px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.562);
}

section {
    padding: 20px;
}

p {
    font-family: var(--fonte1);
    font-size: large;
    line-height: 1.6em;
    text-indent: 30px;
    text-align: justify;
}

section.imagem {
    background-color: var(--cor0);
    
}
footer {
    background-color: var(--cor0);
    font-family: var(--fonte1);
    text-align: center;
    margin: 0px;
    padding: 6px;
    color: black;
}